@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto 40px;
  max-width: 375px;
  line-height: 1.5rem;
  background-color: #eaf2f1;
  color: #133d38;
}

/* Hides side effects from above under non-transparent overlay */
[class*="_dialogOverlay"] {
  background-color: black !important;
}

.rc-slider-handle-dragging {
  box-shadow: none !important;
}

@layer base {
  h1 {
    @apply text-3xl text-pine-900 font-black py-6;
  }

  h2 {
    @apply text-2xl font-bold py-4;
  }

  h3 {
    @apply font-semibold text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply font-semibold;
  }

  button {
    @apply flex justify-center items-center rounded-full font-black;
  }

  label {
    @apply text-sm mr-4;
  }

  dialog {
    @apply rounded-3xl p-0 max-h-[80vh];
  }
}

@layer components {
  .action-button {
    @apply w-[48px] h-[48px] bg-pine-100;
  }

  .auth-button {
    @apply w-full my-3 bg-pine-900/10 py-4 px-8 text-xl font-normal flex justify-between items-center;
  }

  #sign-in-with-email {
    @apply w-full mt-1;
  }

  .primary-button {
    @apply py-2 px-4 bg-cyan-600 text-pine-800 text-[0.9rem]
    disabled:bg-cyan-600/50 disabled:text-pine-800/50;
  }

  .secondary-button {
    @apply py-2 px-4 bg-pine-300 text-pine-800 text-[0.9rem];
  }

  .copy {
    @apply text-sm text-pine-700;
  }

  .pseudo-input-text {
    @apply border flex justify-between rounded-lg bg-pine-100 border-pine-400 p-2;
  }

  .impact-input {
    @apply border-none font-neuehaasgrotesk max-w-[226px] text-[2.625rem];
  }

  .form-group {
    @apply py-4 flex flex-col justify-between;
  }

  .form-input {
    @apply border flex justify-between rounded-lg border-pine-400 p-2 text-sm
    focus:outline-none invalid:border-pink-500 invalid:text-pink-600;
  }

  .transaction-item {
    @apply flex cursor-pointer justify-between border-b-2 mb-4 pb-4 last:pb-0 last:mb-0 last:border-none;
  }

  .cta {
    @apply flex cursor-pointer items-center py-4;
  }

  .cta-icon {
    @apply mr-4 flex border justify-center min-w-[32px] min-h-[32px] rounded-full bg-pine-200;
  }

  .react-modal-sheet-container {
    @apply shadow-xl !important;
  }

  .animated-impact-list {
    @apply m-0 h-[24px] overflow-hidden !important;
  }

  .circle {
    @apply rounded-full flex justify-center items-center;
  }

  .link {
    @apply text-blue-500 underline !important;
  }

  .black-link {
    @apply cursor-pointer underline !important;
  }

  .invisible-link {
    @apply cursor-pointer !important;
  }

  #Smallchat {
    z-index: -10;
  }
}
