@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto 40px;
  max-width: 375px;
  line-height: 1.5rem;
  background-color: #eaf2f1;
  color: #133d38;
}

.rc-slider-handle-dragging {
  box-shadow: none !important;
}

@layer base {
  h2 {
    @apply text-xl font-bold;
  }
}

@layer components {
  .action-buttons {
    @apply flex justify-center items-center min-w-[64px] min-h-[64px] rounded-full bg-pine-200;
  }
}
